.header {
    background-color: lightskyblue;
}

.header .content {
    background-color: transparent;
}

.content {
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

.title {
    padding: 15px;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.non-button {
    padding: 15px;
}

/* TODO: Change appearance for currently selected */
.mat-stroked-button {
    border: none;
}

nav {
    padding-bottom: 8px;
}