textarea {
    height: 64px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main {
    width: 74%;
}

.date {
    width: 24%;
}

.button {
    margin-left: 12px;
    text-align: right;
}