<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Blog</th>
        <td mat-cell *matCellDef="let blog">{{ blog.title }}</td>
    </ng-container>

    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef>Reiseziel</th>
        <td mat-cell *matCellDef="let blog">{{ blog.destination }}</td>
    </ng-container>

    <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef>Abreise</th>
        <td mat-cell *matCellDef="let blog">{{ blog.departure | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef>Ankunft</th>
        <td mat-cell *matCellDef="let blog">{{ blog.arrival | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="navigate(row)"></tr>

</table>
