table {
    width: 100%;
    margin: auto;
    background-color: white;
}

th {
    border-bottom: 1px solid black;
}

.mat-row:hover {
    background-color: lightskyblue;
}

.mat-column-title {
    border-bottom-style: inset;
}
.mat-column-destination {
    border-bottom-style: inset;
    width: 20%
}
.mat-column-departure {
    border-bottom-style: inset;
    width: 15%;
}
.mat-column-arrival {
    border-bottom-style: inset;
    width: 15%;
}